/*
this is what i take about css margin and paddings:
if you have a div, then padding is whats in between 
the border of the div and the content of the div

in other words inside of the div


margin is something thats outside the border of a div
*/
.row-header {
	margin: 0 auto;
	padding: 0px ; /*theres no such thing as padding : 0px AUTO*/
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px
}

.footer {
	background-color: #FEB236;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #d1c4e9;
	color: floralwhite;
}

.address {
	font-size: 80%; /*80% of default font size*/
	margin: 0px;
	color: #0f0f0f;
}

body {
	padding: 50px 0px 0px 0px; /*whats the z index?*/
}